---
Checks: "
  clang-analyzer-*,cppcoreguidelines-*,modernize-*,performance-*,readability-*,
  -clang-diagnostic-unused-function,
  -modernize-use-nodiscard,
  -*-magic-numbers,
  -*uppercase-literal-suffix,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-redundant-smartptr-get
  "
HeaderFilterRegex: "*"
# TODO
# reconsider
#   readability-braces-around-statements
#   readability-function-cognitive-complexity
#   readability-magic-numbers
