---
Checks: "
  clang-analyzer-*,cppcoreguidelines-*,modernize-*,performance-*,readability-*,
  -clang-diagnostic-unused-function,
  -modernize-use-nodiscard,
  -*-magic-numbers,
  -*uppercase-literal-suffix,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-redundant-smartptr-get,
  -performance-unnecessary-value-param
  "
HeaderFilterRegex: "*"
CheckOptions:
  - { key: readability-identifier-naming.PrivateMemberPrefix, value: _ }
  - { key: readability-identifier-naming.ClassCase, value: lower_case }
  - { key: readability-identifier-naming.StructCase, value: lower_case }
  - { key: readability-identifier-naming.MemberCase, value: lower_case }
  - { key: readability-identifier-naming.MethodCase, value: lower_case }
  - { key: readability-identifier-naming.NamespaceCase, value: lower_case }
  - { key: readability-identifier-naming.EnumCase, value: lower_case }
  - { key: readability-identifier-naming.TypeAliasCase, value: lower_case }
  - { key: readability-identifier-naming.TypedefCase, value: lower_case }
  - { key: readability-identifier-naming.UnionCase, value: lower_case }
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - { key: readability-identifier-naming.ConstantCase, value: lower_case }
  - { key: readability-identifier-naming.FunctionCase, value: lower_case }
  - { key: readability-identifier-naming.ParameterCase, value: lower_case }
  - {
      key: readability-identifier-naming.TemplateParameterCase,
      value: CamelCase,
    }
  #- { key: readability-identifier-naming.MacroDefinitionCase, value: aNy_CasE }
# TODO
# reconsider
#   readability-braces-around-statements
#   readability-function-cognitive-complexity
#   readability-magic-numbers
#   performance-unnecessary-value-param
